
.foot-content {
    font-family: var(--font-family);
    background-color: rgba(0, 0, 0, 0.923);
}

.items {
    display: flex;
    align-items: center;
    margin-left: 2vmax;
}

.contact {
    display: flex;
}

.link {
    text-decoration: none;
    color: var(--sub-title-color);
    margin-left: 5px;
}


@media only screen and (max-width: 800px) {
    .foot-content {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 650px) {
    .foot-content {
        font-size: 16px;
    }
}