
.foot-content {
    font-family: var(--font-family);
    background-color: black;
}

.items {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    margin-left: 2vmax;
    /* background-color: red; */
}

.contact {
    display: flex;
}

.link {
    text-decoration: none;
    color: var(--sub-title-color);
    margin-left: 5px;
}


@media only screen and (max-width: 800px) {
    .foot-content {
        display: flex;
        flex-direction: column;
    }
}