.content {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}


.profile img {
  transition: 0.5s;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: -2px 2px 5px white;
}

.accroche span {
  padding-right: 50px;
}

.cl-hi,
.cl-what {
  font-size: 25px;
}

.cl-name {
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .profile img {
    transition: 0.5s;
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {

  .content {
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .cl-hi,
  .cl-what {
    font-size: 20px;
  }

  .cl-name {
    font-size: 30px;
  }


}