.skill-title {
    font-family: var(--font-family);
    /* padding-right: 20px; */
    color: white;
    font-size: var(--title-font-size-large);
    transition: 0.5s;
}

.skill-descript {
    font-family: var(--font-family);
    color: var(--sub-title-color);
    margin-top: 5px;
}

.container {
    margin: 10px;
}


@media only screen and (max-width: 800px) {
    .skill-title {
        transition: 0.2s;
        font-size: var(--title-font-size-small);
    }
}