@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --back-ground-1: #15091b;
    --back-ground-2: #1c191e79;

    --white-color-1: white;
    --white-color-2: rgb(157, 179, 187);

    --primary-color-1: purple;
    --primary-color-2: rgba(188, 2, 188, 0.86);
    --font-family: 'Roboto Condensed', sans-serif;

    --nav-height: 8vh;
}


.skill-title {
    font-family: var(--font-family);
    /* padding-right: 20px; */
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.skill-descript {
    font-family: var(--font-family);
    /* text-align: justify; */
    color: rgba(164, 231, 255, 0.799);
    margin-top: 5px;
}

.container {
    margin: 10px;
}


@media only screen and (max-width: 800px) {
    .skill-title{
        transition: 0.5s;
        font-size: 25px;
    }

}